.c-alphabet {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;

    &__item {
        width: calc(100% / 10 - 0.25em);
        appearance: none;
        -webkit-appearance: none;
        background: white;
        color: #191919;
        border: solid 1px #ccc;
        border-radius: 0.25em;
        padding: 0.5em 1em;
        margin: 0 0.25em 0.25em 0;
        text-align: center;
        cursor: pointer;
        transition: ease 200ms;

        &:hover {
            background: rgba(19,19,19,0.2);
            color: white;
        }

        &.disable {
            background: rgba(19,19,19,0.2);
            color: white;
        }
    }
}