.c-alphabet {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto 2em auto;

    @media only screen and (min-width: 532px) {
        width: 80%;
        margin: 0 auto 2em auto;
    }

    &__item {
        width: calc(100% / 10 - 0.25em);
        appearance: none;
        -webkit-appearance: none;
        background: white;
        color: #191919;
        border: solid 1px #ccc;
        border-radius: 0.25em;
        padding: 0.5em 0;
        margin: 0 0.25em 0.25em 0;
        text-align: center;
        cursor: pointer;
        transition: ease 200ms;

        @media only screen and (min-width: 532px) {
            padding: 0.5em 1em;
        }

        &:hover {
            background: rgba(19,19,19,0.2);
            color: white;
        }

        &:disabled {
            background: rgba(19,19,19,0.2);
            color: white;
            pointer-events: none;
        }
    }
}