.c-hangman {
    &__guess {
        display: flex;
        p {
            margin: 0 0.25em 0 0;

            &:last-of-type {
                margin: 0;
            }

        }
    }

    &__lose {
        display: flex;
        justify-content: top;

        &--text {
            font-weight: bold;
            margin: 0 0.5em 0 0;
        }
    }

    &__title {
        font-weight: bold;
    }
}